/* BlueScreen.css */

/* Styling for the body */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #b3e6ff;
    font-family: 'Press Start 2P', cursive;
  }
  
  /* Styling for the form container and card container */
  .form-container,
  .card-container {
    text-align: center;
    animation: fade-in 1s;
    color: white;
  }
  
  /* Styling for input elements in the form container */
  .form-container input {
    padding: 10px;
    margin-bottom: 10px;
    width: 200px;
    border-radius: 10px;
    font-family: 'Press Start 2P', cursive;
  }
  
  /* Styling for the submit button in the form container */
  .form-container button {
    padding: 10px 20px;
    border-radius: 10px;
    font-family: 'Press Start 2P', cursive;
    background-color: #D0547A;
    color: white;
  }
  
  /* Styling for the heading in the form container */
  .form-container h1 {
    color: #D0547A;
    font-size: 25px;
    padding: 30px;
  }
  
  /* Styling for the error class */
  .error {
    border: 1px solid #D0547A;
    animation: shake 0.5s;
  }
  
  /* Styling for the card */
  .card {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 225px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    perspective: 1000px;
    top: -150px;
  }
  
  /* Styling for the card1 class */
  .card1 {
    /* display: inline-flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 225px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    background-size: cover;
    color: white;
    background-color: #D0547A;
    perspective: 1000px;
    top: -50px;
    animation: fade-in 1s;
    font-size: 10px;
  }
  
  /* Styling for the card-inner class */
  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  /* Styling for the flipped card */
  .card.flip .card-inner {
    transform: rotateY(180deg);
  }
  
  /* Styling for the front and back of the card */
  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Styling for the front of the card */
  .card-front {
    background-image: url('../images/image21.png');
    background-size: cover;
    background-position: center;
    background-color: transparent;
    color: white;
  }
  
  /* Styling for the back of the card */
  .card-back {
    color: white;
    transform: rotateY(180deg);
    background-position: center;
    background-color: transparent;
    background-size: cover;
  }
  
  /* Styling for the content within the card */
  .card-content {
    padding: 20px;
    text-align: center;
  }
  
  /* Styling for the pseudo elements of the card */
  .card::before,
  .card::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  
  /* Styling for headings and paragraphs within the card */
  .card h3,
  .card p {
    margin: 0;
  }
  
  /* Styling for the heading within the card */
  .card h3 {
    font-size: 16px;
  }
  
  /* Styling for the fortune paragraph within the card */
  .card p.fortune {
    font-weight: bold;
    font-size: 14px;
  }
  
  /* Styling for the bottom-left card container */
  .bottom-left {
    position: fixed;
    bottom: 10px;
    left: 30%;
  }
  
  /* Styling for the bottom-middle card container */
  .bottom-middle {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  /* Styling for the bottom-right card container */
  .bottom-right {
    position: fixed;
    bottom: 10px;
    right: 30%;
  }
  
  /* Keyframe animation for fading in */
  @keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  /* Keyframe animation for shaking */
  @keyframes shake {
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
    20%, 40%, 60%, 80% { transform: translateX(10px); }
  }
  
  /* Styling for the arrow link */
  #arrow {
    position: fixed;
    top: 30px;
    left: 30px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    color: #f04c90;
    text-align: center;
    cursor: pointer;
    z-index: 9999;
    text-decoration: none; /* Removes underline */
    transform: rotate(-180deg); /* Makes the arrow face left */
    font-size: 40px; /* Increases the size of the arrow */
  }

  /* Styling for the button container */
  .buttonContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Styling for the text within the button container */
  .buttonContainer button {
    padding: 10px 20px;
    border-radius: 10px;
    font-family: 'Press Start 2P', cursive;
    background-color: #d38e8e;
    color: white;
  }
  

  
  
  
  
  
  

  
