/* style for whole page */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

/** FOR DEBUG *****************/
.test-bg {
    position: absolute;
    left: -11.5%;
    top: 31%;
    transform: rotate(-90deg);
    width: 40%;
}
/*****************************/

.hidden {
    display: none;
}

.computer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

/* container for image of computer */
.image-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
/* style for the computer image, like position */
#image {
    max-width: 100vw;
    max-height: 100vh;
    overflow: auto;
}

/* The poster image initially didn't fit the within the bounds of the video player since they
   both have different aspect ratios, so this is a hack to overcome that problem.
   Here is a link that explains it: http://www.iandevlin.com/blog/2013/03/html5/html5-video-and-background-images/ 
*/
.image-container video {
    background:transparent url('../images/PressToStart.png') no-repeat 0 0;
    background-size:cover;
}

/* Had to tweak the positiono of the video screen on top of the computer image
   in order to place it on top of the computer's screen */
#video-player {
    position: absolute;
    top: 16.55%;
    left: 23%;
    width: 55.2%;
    height: 53%;
}
/* video animation */
#fade-in-video {
    position: absolute;
    object-fit: fill;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

    opacity: 0;
}
/* video animation fading in and out */
.fadeInAndOut {
    animation: fadeIn 1s linear forwards;
    z-index: 999;
}
/* video animation fade in*/
@keyframes fadeIn {
 0% { opacity:0; }
 100% { opacity:1; } 
}
