body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
  
.computer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* container for image of computer */
.image-container {
    display: inline-block;
    position: relative;
}

#image {
    max-width: 100%;
}

/* The poster image initially didn't fit the within the bounds of the video player since they
   both have different aspect ratios, so this is a hack to overcome that problem.
   Here is a link that explains it: http://www.iandevlin.com/blog/2013/03/html5/html5-video-and-background-images/ 
*/
.image-container video {
    background:transparent url('../images/PressToStart.png') no-repeat 0 0;
    background-size:cover;
}

/* Had to tweak the positiono of the video screen on top of the computer image
   in order to place it on top of the computer's screen */
#video-player {
    position: absolute;
    top: 43.65%;
    left: 49.72%;
    transform: translate(-50%, -50%) scale(1, 1.0125);
    max-width: 45%;
}

/* When the screen gets small, the video will move out of the computer screen
   This is to push it back into place */
@media (max-width: 740px) {
    #video-player {
        top: 43.65%;
        left: 49.8%;
        transform: translate(-50.1%, -51%) scale(1, 1.0125);
    }
}