body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

video[poster] {
    object-fit: cover
}
  
.computer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image-container {
    display: inline-block;
    position: relative;
}

#image {
    max-width: 100%;
}

#video-player {
    position: absolute;
    top: 43.3%;
    left: 49.7%;
    transform: translate(-50%, -50%);
    max-width: 59.6%;
    max-height: 53.9%;
}
  
